<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Hello World from Astro Layer</title>
  </head>
  <body>
    <main>
      <h1>Hello World from Astro Layer</h1>
      <p>This is a demo of the astro-layers plugin.</p>
    </main>
  </body>
</html> 